
/* Global Styling */
* { box-sizing: border-box; font-family: 'Roboto Condensed', sans-serif; } 
html { }
body { overflow: hidden; }
body, html { height: 100%; margin: 0; }
h1 { }
h2 { }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
p { }

/* Class Styling */ 

/* Call to Action */ 
.call-to-action { /* Sizing */      height: 40px; width: 100%;
                  /* Backgroud */   background-color: #B8F1F7; overflow: hidden; 
                  /* Formatting */  padding-top: 5px; }
.call-to-action-content-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
}
h1.call-to-action-text { font-size: 12px; }

/* Navigation Menu */ 
.navigation-menu { /* Sizing */     height: 80px; width: 100%; 
                   /* Backgroud */  background-color: #A0ECF4; overflow: hidden;
                   /* Formatting */ }
.navigation-menu-content-wrapper {  width: 100%; margin: 5px}
.navigation-menu-site-logo { display: inline;}
.navigation-menu-navigation-links {display: inline;}
.navigation-links { display: inline;}
.navigation-menu-shopping-links { display: inline;}
.shopping-links { display: inline;}

/* Absolute Navigation Option */ 
.navigation-buttons { }
.navigation-buttons-content-wrapper { }

/* Website Banner */ 
.banner { }
.banner-content-wrapper { }
.banner-subject-box { }
.banner-subject-box-row-one { }
.banner-subject-box-row-two { }
.banner-subject-box-row-three { }
.banner-subject-box-row-three-left { } /* I should look into changing the name from left/right - because in responsive design left or right could change to top/bottom */ 
.banner-subject-box-row-three-left-subrow-one { }
.banner-subject-box-row-three-left-subrow-two { a}
.banner-subject-box-row-three-right { }
.banner-subject-box-row-four { }
.banner-subject-box-row-five { }

/* Product Marketing Section */
.body { }
.body-product-section-one { }
.body-product-section-two { }
.body-product-section-three { }

/* Footer */ 
.footer { }
.footer-content-wrapper { }
.footer-content { }
.footer-content-box-socials { }
.footer-content-box-socials-logo { }
.footer-content-box-socials-icons { }
.footer-content-box-nav-links { }
.footer-nav-link { }
.site-data { }
.site-data-brand { }
.site-data-content-policy-links { }